<% content_for :subtitulo do %>
Coordinaciones / Departamentos <% end %>
<%= link_to new_departamento_path, class:"btn btn-success" do%>
  <i class="glyphicon glyphicon-plus"></i> Crear
<% end %>


<br><br>
<table class="table table-striped">
  <thead style="font-size:98%;">
    <th>Nombre</th>
    <th>Titular (Nombre y Apellido)</th>
    <th>Opciones</th>
  </thead>
  <tbody style="font-size:95%;">
    <% @departamentos.each do |departamento| %>
      <tr>
        <td> <%= departamento.nombre %> </td>
        <td> <%= departamento.titular %> </td>
        <td>
          <%= link_to departamento_path(departamento), class: "btn btn-info" do %>
            <i class="glyphicon glyphicon-eye-open"></i> Ver Artículos
          <% end %>
          <%= link_to edit_departamento_path(departamento), class: "btn btn-primary" do%>
            <i class="glyphicon glyphicon-edit"></i> Editar
          <% end %>

      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @departamentos %>
