<div class="col-lg-4 col-md-6">
  <div class="panel panel-green">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-paperclip glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @articulos_disponibles %> </div>
          <div>Articulos en Stock</div>
        </div>
      </div>
    </div>

    <a href="#">
      <div class="panel-footer">
        <span class="pull-left"></span>
        <%= link_to articulos_path do%>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
          <i class="glyphicon glyphicon-list"></i> Ver Articulos
        <% end %>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>

<div class="col-lg-4 col-md-6">
  <div class="panel panel-red">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-remove glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @articulos_agotados %> </div>
          <div>Artículos sin stock</div>
        </div>
      </div>
    </div>

    <a href="#">
      <div class="panel-footer">
        <span class="pull-left"></span>
        <%= link_to new_articulo_path do%>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
        <i class="glyphicon glyphicon-list"></i> Agregar articulo
        <% end %>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>

<div class="col-lg-4 col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-book glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @total_pedidos %> </div>
          <div>Pedidos Enviados</div>
        </div>
      </div>
    </div>

    <a href="#">
      <div class="panel-footer">
        <span class="pull-left"></span>
        <%= link_to pedidos_path do%>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
        <i class="glyphicon glyphicon-list"></i> Ver Pedidos Surtidos
        <% end %>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>



<div class="col-lg-4 col-md-6">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-pencil glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @total_solicituds %> </div>
          <div>Solicitudes Recibidas</div>
        </div>
      </div>
    </div>

    <a href="#">
      <div class="panel-footer">
        <span class="pull-left"></span>
        <%= link_to solicituds_path do%>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
        <i class="glyphicon glyphicon-list"></i> Ver Solicitudes Recibidas
        <% end %>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>


<div class="col-lg-4 col-md-6">
  <div class="panel panel-yellow">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-th glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @total_departamentos %> </div>
          <div>Departamentos</div>
        </div>
      </div>
    </div>

    <a href="#">
      <div class="panel-footer">
        <span class="pull-left"></span>
        <%= link_to departamentos_path do%>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
        <i class="glyphicon glyphicon-list"></i> Ver Departamentos
      <% end %>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>



<div class="col-lg-4 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="glyphicon glyphicon-list glyphicon5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"> <%= @total_grupos %> </div>
          <div>Grupos</div>
        </div>
      </div>
    </div>

    <a href="#">
      <div class="panel-footer">
        <span class="pull-left"></span>
        <%= link_to grupos_path do%>
        <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
        <i class="glyphicon glyphicon-list"></i> Ver Grupos
      <% end %>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>
