<% content_for :subtitulo do %>
  Editar Articulo
<% end %>

<div class="col-md-7 well">
  <%= form_for :articulo, url: articulo_path(@articulo), method: :patch do |f| %>

  <% if @articulo.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><center>!Error al actualizar!</center></h2>

      <ul>
      <% @articulo.errors.each_with_index do |msg| %>
        <li><%= msg[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-20 col-sm20">
      <div class="panel panel-success">
          <div class="panel-heading">
            <%= form_for(@articulo) do |f| %>
              Editar Articulo
          </div>
          <div class="panel-body">
            <%= f.label :Grupo, class: "control-label" %>
            <%= f.collection_select(:grupos_id, Grupo.all, :id, :descripcion, prompt: "Seleccione:") %>

            <br>

            <%= f.label :Codigo_del_bien, class: "control-label" %>
            <%= f.text_field :codigousuario, class: "form-control" %>

            <%= f.label :Descripción, class: "control-label" %>
            <%= f.text_field :descripcion, class: "form-control" %>

            <%= f.label :Cantidad, class: "control-label" %>
            <%= f.text_field :existencia, class: "form-control" %>

            <%= f.label :Coordinación, class: "control-label"%>
            <%= f.collection_select(:departamento_id, Departamento.all, :id, :nombre, prompt: "Seleccione:") %>
          
            <br>
            <%= f.label :Estado_del_articulo, class: "control-label"%>
            <%= f.collection_select(:estados_id, Estado.all, :id, :estado, prompt: "Seleccione:") %>
            <% end %>
            <br>
            <br>

            <%= f.label :Valor_Monetario, class: "control-label" %>
            <%= f.text_field :valor, class: "form-control" %>
            <% end %>
          </div>

          <%= button_tag(:class => "btn btn-success") do %>
            <i class="glyphicon glyphicon-floppy-disk"></i>Guardar
          <% end %>
          <%= link_to articulos_path, class:"btn btn-warning" do%>
          <i class="glyphicon glyphicon-repeat"></i> Regresar
          <% end %>
      </div>

  </div>
