<% content_for :subtitulo do %>
  Detalles del Articulo
<% end %>

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-info">
            <div class="panel-heading">
                 Artículo
            </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">

                      <tbody >
                        <tr>
      <td>
    <strong>Grupo:</strong>

      <%  @q=Grupo.find(@articulo.grupos_id) %>
      <%= @q.codgrupo %>-<%= @q.codsubgrupo %>-<%= @q.codseccion %>

    </td>

    <td>
    <strong>Codigo del bien:</strong>
      <%= @articulo.codigousuario %>
    </td>

    <td>
      <strong>Descripcion:</strong>
      <%= @articulo.descripcion %>
    </td>

    <td>
    <strong>Cantidad:</strong>
      <%= @articulo.existencia %>
    </td>

    <td>
      <strong>Coordinación:</strong>

      <%  @q=Departamento.find(@articulo.departamento_id) %>
      <%= @q.nombre %>

    </td>

    <td>
    <strong>Valor:</strong>
      <%= @articulo.valor %>
    </td>

    <td>
      <strong>Estado:</strong>

      <%  @q=Estado.find(@articulo.estados_id) %>
      <%= @q.estado %>

    </td>

            </tbody>
            </table>
          </div>

        </div>
      </div>
  </div>


    <%= link_to articulos_path, class:"btn btn-primary" do%>
    <i class="lyphicon glyphicon-repeat"></i> Regresar
    <% end %>
